{% extends 'base.html.twig' %}

{% block title %}Team index{% endblock %}

{% block body %}
    <h1>Team</h1>

    <table class="table">
        <thead>
            
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
            <td colspan="3">{{ team.teamName }}</td>
            </tr>
            <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Poste</th>
            </tr>
            {% for adherent in team.adherents %}
            <tr>    
                <td>{{ adherent.user }}</td>
                <td>{{ adherent.user.getSurname() }}</td>
                <td>{{ adherent.poste }}</td>
                
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
