{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<h1> Page de Contact </h1>
<h2> Nos coordonées </h2>
<p> Adresse : <strong> Gymnase Hubert HENNO, 4 ter, rue Jean Monnet – 37300 Joué-lès-Tours </strong> 
Pour nous rejoindre:
<ul>
<li> Arrêt tram "Lycée Jean Monnet" </li>
<li> En voiture </li>
<li> En vélo </li>
<li> A pieds </li>
<li> En roller </li>
<li> En skate... </li>
</ul>
Dans tous les cas, se diriger vers le Gymnase Matarazzo (salle Jean Bigot), puis
tourner à droite comme indiqué sur le plan ci-contre. Les gymnases sont au fond. Un
parking voiture et des arceaux de stationnement vélo sont disponibles sur place.
</p>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('save') }}</button>
{{ form_end(form) }}


{% endblock %}