{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <h1>Joué Volley Ball</h1>
    <h2> Les articles :</h2>
    <table class="table">
        <tbody>
            <p>Les club de volley de Joué les Tours est super cool du coup venez.</p>
            

            
      {#  {% for home in homes %}
            <tr>
                <td>{{ home.id }}</td>
                <td>
                    <a href="{{ path('app_home_show', {'id': home.id}) }}">show</a>
                    <a href="{{ path('app_home_edit', {'id': home.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Erreur</td>
            </tr>
        {% endfor %} #}
        </tbody>
    

{% endblock %}
