{% extends 'base.html.twig' %}

{% block title %}Pade d'information pour l'inscription{% endblock %}
{% block body %}

<head>
    <title> Dossier d'inscription -Saison 2022-2023 

    </title>
</head>
<body>



		<h1 align="center" >
			 Dossier d'inscription -Saison 2022-2023
		</h1>
<tr>
<td>  <strong> LES TARIFS DES LICENCES  AU JVB - SAISON 2022/2023 <strong></td>
</tr>
<p> 
</p>
		
		<table border="2" cellpadding="6">
			
				<td bgcolor="lightblue">
					Catégories
				</td>
				<td bgcolor="lightblue">
					Né(é)
				</td>
				<td bgcolor="lightblue">
					Tarifs
				</td>
				<td bgcolor="lightblue">
					Gold
				</td>
				<td bgcolor="lightblue">
					Entrainements
				</td>
			</tr>
			<tr>
				<td>
					Nationale 3 Féminine
				</td>
				<td>
					2009 et avant
				</td>
				<td>
					185,00€
				</td>
				<td>
					285,00€
				</td>
				<td>
					Mardis, jeudis et vendredi sur 3 communes
				</td>
			</tr>
			<tr>
				<td>
					Pré-Nationale Féminine
				</td>
				<td>
					2009 et avant
				</td>
				<td>
					160,00€
				</td>
				<td>
					260,00€
				</td>
				<td>
					Mardis et jeudis de 20h30 à 22h30
				</td>
			</tr>
			<tr>
				<td>
					Régionale Masculine
				</td>
				<td>
					2009 et avant
				</td>
				<td>
					160,00€
				</td>
				<td>
					260,00€
				</td>
				<td>
					Lundis et mercredis de 20h30 à 22h30
				</td>
			</tr>
			<tr>
				<td>
					Départementale Féminine
				</td>
				<td>
					2004 et avant
				</td>
				<td>
					145,00€
				</td>
				<td>
					245,00€
				</td>
				<td>
					Lundis et mercredis de 20h30 à 22h30
				</td>
			</tr>
			<tr>
				<td>
					Départementale Masculine
				</td>
				<td>
					2004 et avant
				</td>
				<td>
					145,00€
				</td>
				<td>
					245,00€
				</td>
				<td>
					Mardis et vendredi de 20h30 à 22h30
				</td>
			</tr>
			<tr>
				<td>
					M18 Régionale Féminine/Masculine
				</td>
				<td>
					2005 à 2007
				</td>
				<td>
					150,00€
				</td>
				<td>
					250,00€
				</td>
				<td>
					Mardis et jeudis de 18h15 à 20h15
				</td>
			</tr>
			<tr>
				<td>
					M15 Départementale Féminine/Masculine
				</td>
				<td>
					2008 et 2009
				</td>
				<td>
					135,00€
				</td>
				<td>
					235,00€
				</td>
				<td>
					Mercredi de 19h à 20h30 et vendredis de 18h15 à 19h45
				</td>
			</tr>
			<tr>
				<td>
					M13 Départementale Féminine et Masculine
				</td>
				<td>
					2010 et 2011
				</td>
				<td>
					130,00€
				</td>
				<td>
					230,00€
				</td>
				<td>
					Lundis de 18h30 à 20h00 et mercredis de 17h30 à 19h00
				</td>
				</tr>
                                                                                   <tr>
				<td>
					M9/M11 mixte
				</td>
				<td>
					2012 à 2015
				</td>
				<td>
					130,00€
				</td>
				<td>
					230,00€
				</td>
				<td>
					Mercredis de 16h00 à 17h30
				</td>
			</tr>
			<tr>
				<td>
					M7 (Baby volley)
				</td>
				<td>
					2016 et 2017
				</td>
				<td>
					110,00€
				</td>
				<td>
					210,00€
				</td>
				<td>
					Samedi de 9h45 à 10h45
				</td>
			</tr>
			<tr>
				<td>
					M7 (Baby volley)
				</td>
				<td>
					2018 à 2019
				</td>
				<td>
					110,00€
				</td>
				<td>
					210,00€
				</td>
				<td>
					Samedis de 11h00 à 12h00
				</td>
			</tr>
			<tr>
				<td>
					Volley Loisir (UFOLEP)
				</td>
				<td>
					2001 et avant
				</td>
				<td>
					105,00€
				</td>
				<td>
					205,00€
				</td>
				<td>
					Lundis, mercredis ou vendredis de 20h30 à 22h30
				</td>
			</tr>
			<tr>
                                                                                    
				<td>
					Double affiliation (1)
				</td>
				<td>
					1999 et avant
				</td>
				<td>
					170,00€
				</td>
				<td>
					270,00€
				</td>
    <td rowspan="3" bgcolor="lightblue" > 1: Licence FFVolley + UFOLEP <br>2: Licence Arbitre, Entraineur ou Dirigeant 
					
	
					
				</td>
			</tr>
				
			</tr>
			<tr>
				<td>
					Encadrement (2)
				</td>
				<td>
					2002 et avant
				</td>
				<td>
					100,00€
				</td>
				<td>
					200,00€
				</td>
			</tr>
			<tr>
				<td>
					Pass Bénévole
				</td>
				<td>
					2002 et avant
				</td>
				<td>
					20,00€
				</td>
				<td>
					120,00€
				</td>

		</table>
	</!-->
</!-->

<p>
</p>

<div style="text-align: left;">

<p><strong> INSCRIPTIONS AU JVB - SAISON 2022/2023 - <strong></td>

<img src="http://www.jouevolleyball.fr/wp-content/uploads/2017/07/ffvb.jpg" alt= "Image" heigt="225" width="225" />


</div>

<td> Vous trouvez ci-joint: <br> </td>
<ul>

<a  href= "http://www.jouevolleyball.fr/wp-content/uploads/2022/08/Dossier-dinscription_JVB_2022-2023.pdf"><li> Dossier d’inscription JVB 2022-2023 <li></a>
<a href= "http://www.jouevolleyball.fr/wp-content/uploads/2022/08/Formulaire_demande_licences_2022_2023.pdf"<li>Demande de licences FFVolley 2022-2023</li></a>
</ul>

<td>
	<font color=red> NOUVEAU! </font><a href="{{ path('app_user_Topayer', {'id': app.user.id}) }}"<font color=black>&#8594 </font>PAYEMENT EN LIGNE <font color=black>&#8592</font></a>
</td>
<p>
</p>
<td>Documents annexes si besoin: </td>
<ul>
<a  href= "http://extranet.ffvb.org/data/Files/documents/licences/FFvolley_categories_2022-23.pdf"><li> Les Ages et Catégories FFVolley 2022-2023<li></a>
<a  href= "http://extranet.ffvb.org/data/Files/documents/medical/CERTIFICAT_MEDICAL_A.pdf"<li> Fiche Médicale A - Simple Surclassement<li></a>
<a  href= "http://extranet.ffvb.org/data/Files/documents/medical/CERTIFICAT_MEDICAL_B.pdf"<li> Fiche Médicale B - Double Surclassement<li></a>
<a  href= "http://extranet.ffvb.org/data/Files/documents/medical/CERTIFICAT_MEDICAL_ENCADREMENT.pdf"<li>Fiche Médicale Encadrement</li></a>

</ul>
</td>

<p> <i>Si vous imprimez vous-même des documents, merci de le faire en recto/verso. </i></p>

<div style="text-align:left;">
<p><strong> INSCRIPTIONS AU JVB - SAISON 2022/2023 - <strong></td>
<img src="http://www.cd.ufolep.org/vienne/vienne_d/data_1/gif/uf/ufoleplogorvbgrand.gif" alt= "Image" heigt="250" width="200" />

</div>

<p> Pour vous inscrire au Joué Volley Ball, dans la section Loisir Ufolep, il vous suffit de suivre ces 3 étapes : </p>

<ol>
<li> Fournir les documents demandés ci-dessous </li>
<li> Télécharger et remplir les documents ci-dessous </li>
<li> Remettre le dossier complet soit à  Philippe FAUQUETTE </li>
</ol>

<p>  À fournir par le licencié : <u><font color=red>Avant le 1 octobre dernier délai </font></u></p>

<ul>
<a  href= "http://www.jouevolleyball.fr/wp-content/uploads/2022/08/Dossier-dinscription_JVB_2022-2023.pdf"><li> Dossier d’inscription JVB 2022-2023 <li></a>
<li> Une photo d'identité (maximum 2,5 cm en hauteur) </li>
<li> Un chèque de cotisation de 105€ à l’ordre du Joué Volley Ball (possibilité de régler en 3 mensualités) </li>
<li> Une copie d’un justificatif d’identité du licencié (sauf renouvellement) </li>
<li> <u>Pour les nouveaux licenciés au Joué Volley Ball </u> remplir et Signer – <a href="http://www.jouevolleyball.fr/wp-content/uploads/2022/08/Demande_licence_Ufolep_2022-2023.pdf" </li> Le formulaire de demande de licence Ufolep </a>
<li> <font color= blue> <i>Pour les licenciés de la saison 2021-2022 qui souhaitent renouveler leur licence, signez votre demande de renouvellement qui sera a disposition dès les premières séances d’entraînement </font></i></li>
</ul>

<p> <font color= red> Il y a une nouvelle loi concernant les certificats médicaux, je vous invite à lire attentivement les modalités d’inscription. </font></p>
<p> UN PROBLÈME ? UNE QUESTION ? Pour plus d’infos contacter les dirigeants du JVB (contact@jouevolleyball.fr) </p>

</body>
</html>



{% endblock %}