{% extends 'base.html.twig' %}
{% block title %}Newsletters{% endblock %}
{% block body %}

<h1>Newsletters</h1>

    <table class="table">
        <tbody>
            <tr>
            <div class="Team1">
                <th>Notre équipe</th>
                 <a href="https://www.lanouvellerepublique.fr/tours/tours-volley-ball-l-heure-de-benjamin-diez">
                <img src={{asset('imageSite/Test.jpg')}} alt=" TestFailed " width="300" height="300" />
                </div>
                <div class="Team2">
                <th>Notre équipe 2</th>
                 <a href="https://www.lanouvellerepublique.fr/tours/tours-volley-ball-l-heure-de-benjamin-diez">
                <img src={{asset('imageSite/Test.jpg')}} alt=" TestFailed " width="300" height="300" />
                </div>
                </a>
            </tr>
        </tbody>
    </table>
    
{% endblock %}
