{% extends 'base.html.twig' %}

{% block title %}Newsletters{% endblock %}

{% block body %}

<h1>Home</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ home.id }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}