{% extends 'base.html.twig' %}

{% block title %}Nouveau adherent{% endblock %}

{% block body %}
    <h1>Création d'un nouveau adherent</h1>

    {{ include('adherent/_form.html.twig') }}

    <a href="{{ path('app_adherent_index') }}">Retour vers la liste</a>
{% endblock %}
