{% extends 'base.html.twig' %}

{% block title %}JVB - Page de contact{% endblock %}

{% block body %}
<h1 class = "title" align = "center">Contactez nous !</h1>
<h2 class = "otitle"> Nos coordonées :</h2>
<p> Adresse : <strong> Gymnase Hubert HENNO, 4 ter, rue Jean Monnet – 37300 Joué-lès-Tours </strong> 
Pour nous rejoindre:
<ul>
<li> Arrêt tram "Lycée Jean Monnet" </li>
<li> En voiture </li>
<li> En vélo </li>
<li> A pieds </li>
<li> En roller </li>
<li> En skate... </li>
</ul>
Dans tous les cas, se diriger vers le Gymnase Matarazzo (salle Jean Bigot), puis
tourner à droite comme indiqué sur le plan ci-contre. Les gymnases sont au fond. Un
parking voiture et des arceaux de stationnement vélo sont disponibles sur place.
</p>

<h2 class = "title" align> Formulaire de contact : </h2>

    {{ include('contact/_form.html.twig') }}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_contact_index') }}">Voir à la liste complète des contacts</a>
    {% endif %}
    
    <style>
        .title
        {color : darkred}
        .otitle
        {color : #0053a1}
    </style>
{% endblock %}
