{% extends 'base.html.twig' %}

{% block title %}Modifier votre profile - {{ user.id }}{% endblock %}

{% block body %}
    <h1>Modification de profile</h1>
    
    {% if user.id == app.user.id or is_granted('ROLE_ADMIN') %}
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_index') }}">Retour à la liste</a>

    {{ include('user/_delete_form.html.twig') }}
    
    {% else %}
    <p> Vous n'avez pas accès à cette page </p>
    {% endif %}
{% endblock %}
